<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InformationDatabase1.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-J1NS0B9\FARHANSQL;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="InformationDatabase1.Properties.Settings.informationDatabase1ConnectionString"
            connectionString="Data Source=DESKTOP-J1NS0B9\FARHANSQL;Initial Catalog=informationDatabase1;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>