<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="mongodb" providerName="Sql.Data.SqlClient"
         connectionString= "Data Source=DESKTOP-UQ20I4G\SQLEXPRESS; 
         Initial Catalog=abc; User Id=sa; Password=sql123456"   />
  </connectionStrings>
</configuration>